<!-- text_normalization_app/templates/text_normalization_app/result.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Normalization Result</title>
</head>
<body>
    <h1>Normalization Result</h1>
    <p><strong>Result:</strong></p>
    <ul>
        {% for token, label in result %}
            <li>{{ token }} - {{ label }}</li>
        {% endfor %}
    </ul>
    <p><strong>Normalized Result:</strong></p>
    <p>{{ normalized_result }}</p>
</body>
</html>
