<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input and Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
        background-color: rgb(6, 185, 143); /* กำหนดสีพื้นหลังให้กล่องสีเขียว */
    }
    .container {
        background-color: white; /* กำหนดสีพื้นหลังให้กล่องสีขาว */
    }
    .form-control{
        background-color: rgb(214, 246, 239);
    }
</style>
<body>
    <div class="container  p-5">
        <!-- <h1 class="text-center">Text Normalization</h1> -->
        <div class="row">

            <div class="col-md-6" >
                <form method="post" action="{% url 'text-normalization' %}" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input_text">ข้อความ</label>
                        <textarea class="form-control" name="input_text" id="input_text" rows="10" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Normalize</button>
                </form>
                <br>
                <br>
                <div class="col bg-light p-4 ">
                <h4 class="text-center">Input Text:</h4>
                <p id="text_input">{{ request.POST.input_text }}</p>
                </div>
                <br>
                <button type="button" class="btn btn-danger" onclick="clearOutput()">Clear Output</button>
            </div>


            <div class="col-md-6 bg-light p-4">

             
                
                <h4 class="text-center">การแบ่งกลุ่มตัวอักขระ</h4>
                <ul id="chunk">
                  {% for item in chunk %}
                    <li >Token{{ item }}</li>
                  {% endfor %}
                </ul>
                <br>
                <br>
                
                <h4 class="text-center">การตัดคำ</h4>
                    <p id="word_token" >{{ word_token }}</p>
                <br>
                <br>
                <br>
       
                <h4 class="text-center">การกำกับประเภทของตัวเลขและสัญลักษณ์</h4>
                {% if slot_filling_result %}
               
                <p id="slot_filling_result">{{ slot_filling_result }}</p>
                {% endif %}
                <br>
                <br>
                <h4 class="text-center">การแปลงข้อความให้อยู่ในรูปแบบปกติ</h4>
                <p id="normalized_result">{{ normalized_result }}</p>
            </div>
        </div>
    </div>

    <script>
        function clearOutput() {
            document.getElementById("text_input").innerHTML = "";
            document.getElementById("chunk").innerHTML = "";
            document.getElementById("word_token").innerHTML = "";
            document.getElementById("slot_filling_result").innerHTML = "";
            document.getElementById("normalized_result").innerHTML = "";
        }
        </script>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>